* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Helvetica Neue';
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gm-style-mtc {
  right: -50px !important;
}

div[dir='ltr'] {
  left: 76px !important;
}

input[type='text'] {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  padding: 0.5rem;
  outline: none;
  width: 85%;
}

input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

input[type='checkbox'] + label::before {
  border: 1px solid;
  border-radius: 0.1rem;
  content: '';
  display: inline-block;
  height: 2rem;
  line-height: 1;
  margin-bottom: 0.1rem;
  margin-right: 0.5rem;
  padding: 0.3rem;
  text-align: center;
  vertical-align: middle;
  width: 2rem;
}

input[type='checkbox']:checked + label::before {
  content: '✔';
}

input[type='checkbox'] + label::before,
input[type='checkbox'] + label {
  cursor: pointer;
}
